
/* Home page */

table.playersData th {
    font-size: 9px;
}
table.playersData td.name {
    font-size: 11px;
    border-right: 1px solid #ddd;
    padding-top: 4px;
    padding-bottom: 4px;
    vertical-align: middle;
}
table.playersData tr.totals td.name {
    font-style: italic;
}
table.playersData td.name a {
    text-decoration: underline;
}
table.playersData td.name span.health-status, table.playersData td.name span.fa, table.playersData td.name span.is-on-bench {
    margin-left: 5px;
}
table.playersData td.data {
    font-size: 12px;
    vertical-align: middle;
}
table.playersData td.data.status {
    font-size: 11px;
}
table.playersData .data {
    padding-left: 2px;
    padding-right: 2px;
}
table.playersData th.data, table.playersData td.data {
    text-align: center;
}
table.playersData td.stat-min {
    border-left: 1px solid #ddd;
}
table.playersData td.status {
    font-style: italic;
}
table.playersData td.data.stat-pts {
    font-weight: bold;
}
table.playersData td.data.stat-fg, table.playersData td.data.stat-ft {
    font-style: italic;
}

table.playersData td.name span.match-scores, table.playersData td.name span.match-info {
    display: block;
}

span.name, td.match-info {
    font-size: 11px;
}
span.match-info, span.match-scores {
    font-size: 9px;
}
img.on-court {
    height: 10px;
    width: 10px;
    margin-bottom: 2px;
}

span.bad-value {
    color: orange;
}
span.good-value {
    color: green;
}
span.average-value {
    color: #939393;
}

tr.not-playing td span {
    color: black;
}

td.match-upcoming {
    background-color: #dbdbdb
}
td.match-complete.default-color {
    background-color: #939393;
}
td.match-complete.default-color span {
    color: white !important;
}
td.match-complete a {
    color: white !important;
    text-decoration: underline;
}
td.match-complete.custom-color a, td.match-in-progress.custom-color a, td.match-upcoming a {
    color: black !important;
}
td.match-in-progress {
}

form.playerSearch {
    margin-bottom: 20px;
}

form.playerSearch #searchText {
    width: 250px;
}
@media (max-width: 767px) {
    form.playerSearch #searchText {
        display: inline-block;
    }
    form.playerSearch div.form-group {
        display: inline-block;
    }
}

div.list-controls {
    display: block;
    margin-bottom: 10px;
}
@media (min-width: 768px) {
    div.list-controls {
        float: left;
        margin-right: 30px;
    }
}

@media (max-width: 479px) {
    div.team-filter button {
        padding-left: 5px !important;
        padding-right: 5px !important;
    }
}
@media (max-width: 767px) {
    #controls-expand-collapse {
        display: inline-block;
        float: right;
        margin-left: 20px;
    }
    div.controls-collapsible {
        display: none;
    }
}
@media (min-width: 768px) {
    #controls-expand-collapse {
        display: none;
    }
    div.controls-collapsible {
        display: block !important;
    }
}

#tab-news .team-filter {
    margin-bottom: 10px;
}

div.refresh-options span.auto-refresh {
    margin-left: 10px;
}

h1 {
    font-size: 16px;
    font-weight: bold;
    margin-top: 0px;
    margin-bottom: 20px;
}

div.jumbotron h1 {
    font-size: 28px;
}
div.jumbotron p {
    font-size: 18px;
}

div.action-buttons button {
    margin-top: 5px;
    margin-bottom: 5px;
}

p.breadcrumbs {
    margin-top: 20px;
}

div.currentGamesAlert {
    padding: 7px;
    font-size: 12px;
}

div.screenshot img {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}

div.promo div.screenshot img {
    border: 1px solid black;
}

div.promo ul.features {
    font-size: 18px;
    font-weight: 200;
    margin-top: 30px;
    margin-bottom: 30px;
}
div.promo ul.features li {
    margin-top: 15px;
    margin-bottom: 15px;
}
div.promo div.buttons {
    text-align: center;
}

div.footer hr {
    width: 70%;
}
div.footer {
    margin-top: 40px;
    text-align: center;
    font-size: 13px;
}

form.form-horizontal h3 {
    font-size: 16px;
    font-weight: bold;
}

.tab-content {
    border-left: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    border-right: 1px solid #ddd;
    padding-top: 10px;
    margin-right: -15px;
    margin-left: -15px;
    padding-right: 15px;
    padding-left: 15px;
}

.playersNews span.title {
    display: block;
    font-weight: bold;
}

@media (min-width: 768px) {
    table.playersData th {
        font-size: 11px;
    }
    table.playersData td.name {
        font-size: 12px;
    }
    table.playersData td.data {
        font-size: 14px;
    }
    table.playersData td.match-info {
        font-size: 14px;
    }
    table.playersData td.data.status {
        font-size: 12px;
    }
    span.name {
        font-size: 12px;
    }
    span.match-info, span.match-scores {
        font-size: 11px;
    }

    div.action-buttons {
        display: inline-block;
    }

    table.playersData td.name span.match-scores, table.playersData td.name span.match-info {
        display: inline-block;
    }
}

@media (max-width: 479px) {
    h1.title-home {
        float: right;
        margin-top: 7px;
        margin-bottom: 0px;
    }
    h1.title-home.clear {
        float: none !important;
        clear: both;
    }
    #home-tabs .nav > li > a {
        padding-top: 6px;
        padding-bottom: 6px;
    }
    .navbar {
        margin-bottom: 10px;
    }
}

div.match {
    border: 1px solid #ddd;
}
div.match-summary {
    height: 100px;
    display: block;
    clear: both;
    border-bottom: 1px solid #ddd;
    cursor: pointer;
}

div.match-summary div.team {
    display: block;
    float: left;
    height: 100%;
    width: 35%;
}
div.match-summary div.team.away {
    text-align: right;
}
div.match-summary div.team.home {
    text-align: left;
}
div.match-summary div.team div.logo {
    display: inline-block;
    width: 70px;
    height: 100%;
    padding-top: 0px;
    vertical-align: top;
}
div.match-summary div.team div.logo img {
    height: 100%;
    width: 100%;
}
div.match-summary div.team div.nameAndScore {
    display: inline-block;
    height: 100%;
    padding-top: 20px;
}
div.match-summary div.team div.nameAndScore span.name {
    display: block;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
}
div.match-summary div.team div.nameAndScore span.score {
    display: block;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
}

div.match-summary div.time {
    display: block;
    float: left;
    height: 100%;
    width: 30%;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    padding-top: 25px;
}
div.match-summary div.time.singleLine {
    padding-top: 35px;
}

div.match-players h1 {
    text-align: center;
    margin-top: 10px;
}

div.league-team {
    border: 1px solid #ddd;
}
div.league-team-summary {
    height: 60px;
    display: block;
    clear: both;
    border-bottom: 1px solid #ddd;
    cursor: pointer;
    padding-top: 20px;
    padding-left: 10px;
}

div.league-team-summary h1 {

}
